  <section class="row">
    <div class="col-md-12">
      <h1>Listagem de produtos</h1>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#2</td>
            <td>Arroz carioca</td>
            <td>18.50</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
